@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap');

#app {
  margin: 0 auto;
  font-weight: normal;
}
/* fonts */
h1, h2, h3, h4, a{
  font-family: "Sedan SC", serif;
}

span{
  font-family: "Sedan SC", serif;
  font-size: 14px;
  font-weight: 500;
}

p{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #DBAF6F;
  line-height: 18px;
  letter-spacing: 0.8px;
}